html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 24px;
}

.skills p {
    font-family: 'Source Code Pro', monospace;
}

* {
    font-family: 'Lato', sans-serif;
}

@keyframes shiftSideways {
    from {
        transform: translate3d(-50%, 0, 0);
    }
    to {
        transform: translate3d(-55%, 0, 0);
    }
}

.animating-image {
    position: absolute;
    background-image: url('../image/volcano-pic.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    /* transform: translate(-50%, 0); */
    width: 240vw;
    /* width: 100%; */
    z-index: -1;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: shiftSideways 20s ease 0s infinite alternate forwards;
}

.animating-image-container {
    position: relative;
}

.main-title, .animating-image {
    min-height: 100vh;
}

.main-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* padding: 32px; */
    padding: 32px;
}

.main-title h1 {
    font-size: 92px;
    color: rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 32px 0 0 0;
}

.main-title p {
    margin: 8px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.keyboard-container {
    position: relative;
}

.colored {
    background-color: rgb(243, 239, 224);
    margin: 128px 0 0 0;
    padding: 32px 0;
}

.introduction {
    margin: 12.5vh 0 0 0;
    height: 50vh;
}

.introduction h2 {
    text-align: center;
    font-size: 48px;
}

.experience, .skills {
    text-align: center;
}

.experience h3 {
    color: rgb(244, 80, 154);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 8px;
}

.experience ul {
    list-style-type: none;
    font-weight: 900;
}

.experience li::after, .experience li::before {
    margin: 0 8px;
    font-size: 22px;
    /* font-family: 'Source Code Pro', monospace; */
}

.experience p {
    line-height: 200%;
}

.company:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.9);
}

.company {
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    padding-bottom: 4px;
}

.experience li::before {
    content: "»";
}

.experience li::after {
    content: "«";
}

.experience li {
    margin: 16px;
}

.company-name {
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 12px 0;
    font-weight: 100;
}

.working, .keyboard {
    min-height: 256px;
}

.working::before, .working::after, .keyboard::before, .keyboard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px;
}

.working::after, .keyboard::after {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -2;
}

.working::after {
    background-image: url('../image/working.png');
}

.keyboard::after {
    background-image: url('../image/keyboard.png');
}

.keyboard::before {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.5+0,0.6+14,0.65+26,0.7+39,0.9+54,1+69,1+83,0.3+95 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4dffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.working::before {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.5+0,0.6+14,0.65+26,0.7+39,0.9+54,1+69,1+83,0.3+95 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4dffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.skills h2 {
    font-size: 36px;
    margin: 48px 0;
}

.skills h3 {
    color: rgb(244, 80, 154);
    margin: 48px 0;
}

.hidden-until-scrolled {
    transition: transform 300ms;
    transform: scale(0);
}

.hidden-until-scrolled.revealed-from-scrolling {
    transform: scale(1);
}

@media screen and (max-width: 576px) {
    .main-title h1 {
        font-size: 72px;
    }
}