html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    overflow: hidden;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
}

iframe {
    border: none;
}

h3 {
    font-size: 24px;
    color: rgb(244, 80, 154);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 8px;
}

* {
    font-family: 'Lato', sans-serif;
}

@keyframes shiftSideways {
    from {
        transform: translate3d(-50%, 0, 0);
    }
    to {
        transform: translate3d(-55%, 0, 0);
    }
}

@keyframes bounce {
    0% {
        transform: translate3d(0, 5%, 0);
    }
    30% {
        transform: translate3d(0, -5%, 0);
    }
    100% {
        transform: translate3d(0, -5%, 0);
    }
}

.scroll-encouragement {
    animation: bounce 2s ease 1s infinite alternate forwards;
}

.animating-image div {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    width: 120vw;
    z-index: -1;
    animation: shiftSideways 20s ease 0s infinite alternate forwards;
}

.volcano-pic div {
    background-image: url('../image/volcano-pic.jpg');
}

.boat-pic div {
    background-image: url('../image/boat.png');
}

.street-pic {
    margin: 32px 0 0 0;
}

.street-pic div {
    background-image: url('../image/street-pic.jpg');
}

.philosophy {
    color: white;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 32px;
}

.philosophy div {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.animating-image {
    position: relative;
}

.animating-image div, .animating-image+div {
    min-height: 100vh;
}

.main-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-title::before {
    flex-grow: 1;
    content: "";
}

.main-title h1 {
    font-size: 92px;
    color: rgba(255, 255, 255, 1.0);
    margin: 64px 0 0 0;
}

.main-title p {
    margin: 8px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.call-to-action {
    width: 100%;
    margin-top: auto;
    flex-basis: 10%;
    flex-grow: 1;
}

.phone-container .graduation-container, .keyboard-container {
    position: relative;
}

.colored {
    background-color: rgb(243, 239, 224);
    margin: 64px 0 0 0;
    padding: 32px 0;
}

.contact {
    background-color: rgb(67, 66, 66);
    color: white;
    padding: 8px 0;
    margin: 0;
}

.introduction {
    margin: 32px 0;
}

h2 {
    font-size: 48px;
}

.introduction h2 {
    margin: 16px 0;
}

.philosophy, .company, .skills {}

.company ul {
    padding: 0;
    list-style-type: none;
    font-weight: 900;
}

.company li::after, .company li::before {
    margin: 0 8px;
    font-size: 22px;
    /* font-family: 'Source Code Pro', monospace; */
}

.company p {
    line-height: 150%;
}

.colored .company {
    border-color: rgba(255, 255, 255, 0.9);
}

.company {
    border-color: rgba(0, 0, 0, 0.1);
}

.company:first-child {
    border-top-width: 2px;
    border-top-style: solid;
}

.company:not(:last-child) {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 8px 0 12px 0;
}

.company li::before {
    content: "»";
}

.company li::after {
    content: "«";
}

.company li {
    margin: 8px 0;
}

.company-name {
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 12px 0;
    font-weight: 100;
}

.phone, .graduation, .working, .keyboard {
    min-height: 256px;
}

.phone::before, .phone::after, .graduation::before, .graduation::after, .working::before, .working::after, .keyboard::before, .keyboard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px;
}

.phone::after, .graduation::after, .working::after, .keyboard::after {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -2;
}

.phone::after {
    background-position: center;
    background-image: url('../image/phone.png');
}

.working::after {
    background-image: url('../image/working.png');
}

.keyboard::after {
    background-image: url('../image/keyboard.png');
}

.graduation::after {
    background-position: center;
    background-image: url('../image/graduation.png');
}

.graduation::before, .keyboard::before {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.5+0,0.6+14,0.65+26,0.7+39,0.9+54,1+69,1+83,0.3+95 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0.65) 26%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 0.3) 95%, rgba(255, 255, 255, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4dffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.phone::before {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.5+0,0.6+14,0.65+26,0.7+39,0.9+54,1+69,1+83,0.3+95 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(67, 66, 66, 0.2) 0%, rgba(67, 66, 66, 0.3) 14%, rgba(67, 66, 66, 0.5) 26%, rgba(67, 66, 66, 0.6) 39%, rgba(67, 66, 66, 0.7) 50%, rgba(67, 66, 66, 0.8) 54%, rgba(67, 66, 66, 0.95) 69%, rgba(67, 66, 66, 0.9) 83%, rgba(67, 66, 66, 1.0) 95%, rgba(67, 66, 66, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(67, 66, 66, 0.2) 0%, rgba(67, 66, 66, 0.3) 14%, rgba(67, 66, 66, 0.5) 26%, rgba(67, 66, 66, 0.6) 39%, rgba(67, 66, 66, 0.7) 50%, rgba(67, 66, 66, 0.8) 54%, rgba(67, 66, 66, 0.95) 69%, rgba(67, 66, 66, 0.9) 83%, rgba(67, 66, 66, 1.0) 95%, rgba(67, 66, 66, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(67, 66, 66, 0.2) 0%, rgba(67, 66, 66, 0.3) 14%, rgba(67, 66, 66, 0.5) 26%, rgba(67, 66, 66, 0.6) 39%, rgba(67, 66, 66, 0.7) 50%, rgba(67, 66, 66, 0.8) 54%, rgba(67, 66, 66, 0.95) 69%, rgba(67, 66, 66, 0.9) 83%, rgba(67, 66, 66, 1.0) 95%, rgba(67, 66, 66, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4dffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.working::before {
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.5+0,0.6+14,0.65+26,0.7+39,0.9+54,1+69,1+83,0.3+95 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(243, 239, 224, 0.5) 0%, rgba(243, 239, 224, 0.6) 14%, rgba(243, 239, 224, 0.65) 26%, rgba(243, 239, 224, 0.7) 39%, rgba(243, 239, 224, 0.85) 50%, rgba(243, 239, 224, 0.9) 54%, rgba(243, 239, 224, 1) 69%, rgba(243, 239, 224, 1) 83%, rgba(243, 239, 224, 0.3) 95%, rgba(243, 239, 224, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4dffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.skills h2 {
    font-size: 36px;
    margin: 32px 0;
}

.skills h3 {
    color: rgb(244, 80, 154);
    margin: 48px 0;
}

.hidden-until-scrolled {
    transition: transform 200ms;
    transform: scale(0);
}

.hidden-until-scrolled.revealed-from-scrolling {
    transform: scale(1);
}


.street-picture {
    position: relative;
}


a {
    color: rgb(244, 80, 154);
}

.logo-card {
    width: auto;
    height: 64px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.156863) -1px 0px 4px;
    margin: 0 12px 12px 0;
    background: white;
}

.modal .logo-card {
    min-height: 80px;
    max-width: 90%;
}

.portfolio .logo-card {
    
    transition: transform 100ms;
    cursor: pointer;
}

.portfolio .logo-card:hover {
    transform: scale(1.2);
}

.expandable {
    display: none;
}

.modal > * {
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 64px;
    left: 16px;
    right: 16px;
}

.close-button::after {
    content: "✕";
}

.close-button:hover::after {
    color:black;
}

.close-button {
        font-size:24px;
        position: absolute;
    width:24px;
    height:24px;
    z-index: 2;
    right: 8px;
        top: 4px;
        cursor: pointer;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    padding: 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal.showing {
    visibility: inherit;
}

.portfolio-description {
    line-height: 200%;
}

#shapeshifter-iframe {
    height: calc(100vh - 128px);
    width: min(400px, 100vw)
}

@media screen and (max-width: 768px) {
    .main-title h1 {
        font-size: 72px;
    }
    .company .col-md-6:first-child {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-color: rgba(255, 255, 255, 0.9);
    }
}

#shapeshifter-parent {
    pointer-events: none;
}

#scrollable-content {
    height: 100%;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.unscrollable {
    pointer-events: none;
}


@media screen and (max-width: 576px) {
    .close-button {
        right: 4px;
        width:36px;
        height:36px;
    }
    .skills h3 {
        margin: 16px 0 0 0;
    }
    .phone, .graduation, .working, .keyboard {
        min-height: 224px;
    }
    .phone::before, .phone::after, .graduation::before, .graduation::after, .working::before, .working::after, .keyboard::before, .keyboard::after {
        height: 224px;
    }
}
